<% if current_user.is_admin %>
    <div style ="margin-top:10px">
    <center><h1 style="color: White"><b>Administrator Dashboard</b></h1></center>
    </div>

    <div style = "float:left; margin-top:20px; margin-right:50px; margin-bottom:5px">
         <% if current_user.profile_image.attached?%>
          <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
         <% end %><br>
         <br>
         <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-light btn-mi btn-outline-dark" %></b>
    </div>
    <div style ="margin-left:80px; margin-top:50px">
          <div><h4><b>Name : <%=current_user.name%></b></h4></div> 
          <div><h4><b>Username : <%=current_user.user_name%></b></h4></div>      
    </div>
         
    <center>
    <div style = "margin:20px" class ="container-sm float-right ">
    <h5><b> <%= link_to 'LIST OF ITEMS', admin_path, class:" btn btn-light btn-lg btn-block btn-outline-success" %> </b></h5> 
    <h5><b> <%= link_to ' VIEW REPORTS ', reports_path, class:"btn btn-light btn-lg btn-block btn-outline-success" %> </b></h5> 
    <h5><b> <%= link_to ' VIEW USERS ', users_path, class:"btn btn-light btn-lg btn-block btn-outline-success" %> </b></h5> 
    <h5><b> <%= link_to ' VIEW DEACTIVATED ACCOUNTS ', deactivated_users_path, class:"btn btn-light btn-lg btn-block btn-outline-success" %><b> </h5> 
    
    </div>
    </center>
        
<% end %>

<% if current_user.is_buyer && !current_user.is_seller && !current_user.is_admin %>
    <center><h1>User Profile</h1></center>
    
    <div style = "float:left; margin-top:20px; margin-right:30px; margin-bottom:5px">
        <% if current_user.profile_image.attached?%>
        <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
        <%else%>
        <div class="bg-light w-50 h-100 p-3 ">
        <h3 style="color:black"> Add Profile Picture Here</h4>
        </div>
        <% end %>
        <br>
        <br>
    <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-warning btn-lg" %></b>
    </div>
    <div style ="margin-left:30px; margin-top:50px">
      <div><h4><b>Name : <%=current_user.name%></b></h4></div> 
        <div><h4><b>Username :  <%=current_user.user_name%></b></h4></div>
        <h4><b>Role:  Buyer </b> </h4>
    </div>    
        
<% end %>

<% if current_user.is_seller && !current_user.is_buyer && !current_user.is_admin %>
    <center><h1>User Profile</h1></center>
    <div style = "float:left; margin-top:20px; margin-right:30px; margin-bottom:5px">
        <% if current_user.profile_image.attached?%>
        <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
        <%else%>
        <div class="bg-light w-50 h-100 p-3 ">
        <h3 style="color:black"> Add Profile Picture Here</h4>
        </div>
        <% end %>
        <br>
        <br>
    <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-warning btn-lg" %></b>
    </div>
    <div style ="margin-left:30px; margin-top:50px">
      <div><h4><b>Name : <%=current_user.name%></b></h4></div> 
        <div><h4><b>Username :  <%=current_user.user_name%></b></h4></div>
        <h4><b>Role:  Seller </b> </h4>
    </div> 
    
<% end %>

<% if current_user.is_buyer && current_user.is_seller && !current_user.is_admin%>
    <center><h1>User Profile</h1></center>
    <div style = "float:left; margin-top:20px; margin-right:30px; margin-bottom:5px">
        <% if current_user.profile_image.attached?%>
        <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
        <%else%>
        <div class="bg-light w-50 h-100 p-3 ">
        <h3 style="color:black"> Add Profile Picture Here</h4>
        </div>
        <% end %>
        <br>
        <br>
    <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-warning btn-lg" %></b>
    </div>
    <div style ="margin-left:30px; margin-top:50px">
      <div><h4><b>Name : <%=current_user.name%></b></h4></div> 
        <div><h4><b>Username :  <%=current_user.user_name%></b></h4></div>
        <h4><b>Role:  Both </b> </h4>
    </div> 
        
<% end %>

<% if !current_user.is_buyer && !current_user.is_seller && !current_user.is_admin%>
    <center><h1>User Profile</h1></center>
    <div style = "float:left; margin-top:20px; margin-right:30px; margin-bottom:5px">
        <% if current_user.profile_image.attached?%>
        <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
        <%else%>
        <div class="bg-light w-50 h-100 p-3 ">
        <h3 style="color:black"> Add Profile Picture Here</h4>
        </div>
        <% end %>
        <br>
        <br>
    <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-warning btn-lg" %></b>
    </div>
    <div style ="margin-left:30px; margin-top:50px">
      <div><h4><b>Name : <%=current_user.name%></b></h4></div> 
        <div><h4><b>Username :  <%=current_user.user_name%></b></h4></div>
        <h4><b>Role:  None</b> </h4>
    </div> 
<% end %>





    






