<% if current_user.is_admin %>

    <center><h1><b>Administrator Dashboard</b></h1></center>
    <div style = "float:left; margin:20px">
              <% if current_user.profile_image.attached?%>
          <%= image_tag url_for(current_user.profile_image.variant(resize: '300x400'))%>
          <% end %>
          <br>
          <%= link_to "Edit Your Profile", edit_user_registration_path %>
        <div><br/><b>Name : </b><%=current_user.name%></div> 
        <div><b>Username : </b> <%=current_user.user_name%></div>

    </div>

    <center>
    <div style = "margin:20px;" class ="container-sm float-right ">
    <h5><b> <%= link_to 'LIST OF ITEMS', admin_path, class:" btn btn-primary btn-lg btn-block " %> </b></h5> 
    <h5><b> <%= link_to ' VIEW REPORTS ', reports_path, class:"btn btn-primary btn-lg btn-block" %> </b></h5> 
    <h5><b> <%= link_to ' VIEW USERS ', users_path, class:"btn btn-primary btn-lg btn-block" %> </b></h5> 
    <h5><b> <%= link_to ' REACTIVATE ACCOUNTS ', '', class:"btn btn-primary btn-lg btn-block" %><b> </h5> 
    
    </div>
    </center>
    
    
<% end %>

<% if current_user.is_buyer && !current_user.is_seller %>
    <center><h1>User Profile</h1></center>
    <div style = "float:left; margin:20px">
       <% if current_user.profile_image.attached?%>
          <%= image_tag url_for(current_user.profile_image.variant(resize: '300x400'))%>
          <% end %>
           <br>
          <%= link_to "Edit Your Profile", edit_user_registration_path %>
        <div><br/><b>Name : </b><%=current_user.name%></div> 
        <div><b>Username : </b> <%=current_user.user_name%></div>
        <p><b>Role: </b> Buyer </p>
    </div>    
        
<% end %>

<% if current_user.is_seller && !current_user.is_buyer %>
    <center><h1>User Profile</h1></center>
    <div style = "float:left; margin:20px">
      <% if current_user.profile_image.attached?%>
          <%= image_tag url_for(current_user.profile_image.variant(resize: '300x400'))%>
          <% end %>
           <br>
          <%= link_to "Edit Your Profile", edit_user_registration_path %>
        <div><br/><b>Name : </b><%=current_user.name%></div> 
        <div><b>Username : </b> <%=current_user.user_name%></div>
        <p><b>Role: </b> Seller </p>
    </div>    
    
<% end %>

<% if current_user.is_buyer && current_user.is_seller %>
    <center><h1>User Profile</h1></center>
    <div style = "float:left; margin:20px">
        <%= image_tag "logo.png", width: 300 %><br /></b>
        <div><br/><b>Name : </b><%=current_user.name%></div> 
        <div><b>Username : </b> <%=current_user.user_name%></div>
        <p><b>Role: </b> Both </p>
    </div>    
        
<% end %>





    






