<h1>"Your Profile"</h1>
<%= image_tag "logo.png", width: 300 %><br /></b>
<div>Name :<%=current_user.name%> </div>
<div>Username :  <%=current_user.user_name%></div>

<%= link_to "View Items Bought/Listed" %>
<%= link_to "View Messages"%>