<div class="card mb-3">
  <%= image_tag "acer-laptop.jpg", class:"card-img-top", height: 300 %>
  <div class="card-body">
    <h5 class="card-title"> <%=item.name%> </h5>
    <p class="card-text"> <%=item.description%> </p>
    <p class="card-text"> <%=item.price%> </p>
    <p class="card-text"> <%=item.category%> </p>

    <% if item.creator == current_user %>
    <%= link_to 'Edit', edit_item_path(item), class:"btn btn-primary" %>
    <%= link_to 'Delete', item_path(item),method: :delete, class:"btn btn-danger" %>
    <% end %>
    <% user = User.find_by_id(item.user_id) %>
    <%= link_to 'Message Seller', message_board_path(user.user_name),method: :get, class:"btn btn-warning" %>    
 



  </div>
</div>