<!DOCTYPE html>
<html>
  <head>
    <title>Project App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

 <script>
    function navSearchForItem(){
      var search = document.getElementById("nav_search_text").value;

      location.replace(window.location.origin + "/items/search_results/"+ search);

}

    function searchByCategory(){
      var cat = event.srcElement.id;
      location.replace(window.location.origin + "/items/category_results/"+ cat);

}

    function navEnterKeyPressed(e){
        if(e.keyCode == 13 )
        {
          
            var search = document.getElementById("nav_search_text").value;

            location.replace(window.location.origin + "/items/search_results/"+ search);
        }

   

}

   function menu_toggle(){
     $('div.collapse.navbar-collapse.item').toggle();
   }

    function gotMail()
    {
        var messagesTab = document.getElementById("messages");
        messagesTab.className="nav-link message";
       
    }
</script>

<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
								<li><i class="ti-email"></i> contact@grabit.com</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
               <% if user_signed_in? %>
                   <li> <%= link_to "Hi, #{current_user.name}", edit_user_registration_path %></li>
                   <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Sign In', new_user_session_path%></li>
                    <li><%= link_to 'Sign Up', new_user_registration_path %> </li>
                <% end %>
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/home">gRabit</a>
						</div>
					
					</div>
					<div class="col-lg-8 col-md-7 col-12">
							<div class="search-bar">
									<input aria-label="Search" required="required" class="header_search_input" type="text" id= "nav_search_text" placeholder="Search for products..." onKeyPress= "navEnterKeyPress(event)">
                  <button type="submit" class="btnn" onClick= "navSearchForItem()"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt=""></button>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row"> 
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">	
										<div class="nav-inner">	
											<ul class="nav main-menu menu navbar-nav">
													<li class="active"><a href="/home">Home</a></li>												
													<li><a href="#">Categories</a>
														<ul class="dropdown">
															<li>
                               <% Item.categories.each do |cat| %>
                                  <b><%= submit_tag cat, :id=> cat,  :class=> "dropdown-item", :onClick=> "searchByCategory()" %></b>
                               <%end%>
                              </li>
														</ul>
													</li>	
                         <%if user_signed_in?%>
                          <li><a href="/user_profile">User Profile</a></li>
                          <%end%>
                           <%if user_signed_in? && current_user.is_seller%>
                                <li><a href="/items">List Item</a> </li>
                            <% end %>
                            <%if user_signed_in? && !current_user.is_admin%>
                            <li><a id="messages" href="/messages">Messages</a></li>
                            <% end %>	
													<li><a href="contact.html">Contact Us</a></li>
												</ul>
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>    
	</header>

<% if user_signed_in? %>
  <% messages = current_user.messages %>
    <% messages.each do |m| %>
      <% if m.is_new %>
      
        <%= javascript_tag "gotMail()" %>
     
      <% end %>
    <% end %>

<% end %>
  

<body>
  <%if flash.key?(:error) %>
  <div class="alert alert-danger" role = "alert"
   <center><%= flash[:error] %></center>
   
   </div>
  <%end%>


  <%if flash.key?(:success) %>
  <div class="alert alert-success" role = "alert"
   <center><%= flash[:success] %></center>
   
   </div>
    <%end%>

  
    <main class="container">

      <%= yield %>
      
    </main>

  </body>
</html>
